/* Collab-section */

.collabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 80px;
    background-color: rgb(9, 2, 31);
    border: 10px solid;
    border-color: rgb(3, 3, 40);
    padding:30px 30px 55px 30px;
}
.collabs h2{
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding:20px;
}
.collabs-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collabs-logo img{
    padding:35px;
    
}

/* #img1,#img2,#img3{
    padding-top:50px;
    
} */


/* media queries */

@media screen and (min-width:200px) and (max-width:600px){
.collabs, about-section, .about-box{
display:flex;
flex-direction: column;
flex-wrap:wrap;
justify-content: center;
align-items: center;
padding: 30px;
}

}

/*@media screen and (max-width:400px){
.collabs{flex-direction: column;}
}
@media screen and (max-width:300px){
.collabs{flex-direction: column;}
}
@media screen and (max-width:200px){
.collabs{flex-direction: column;}
}*/

