*{
    margin: 0;
    padding: 0;
    font-family: 'popping' , sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.content{
    min-height: 300px;
}
body{
    background: #eef8ff;
}
a{
    cursor: pointer;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color:#06061b;
    color: #fff;
    padding: 30px 0 30px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: flex-start;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 100px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
ul li{
    list-style: none;
    margin-bottom: 12px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;

}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #9dc93f;
}
.social-icons{
    display: flex;
    width:60%;
    justify-content: space-between;
    margin-left: 6px;
    margin-right: 6px;
}
.social-icons i{
    transform: scale(2);
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 1000px;
    color: #8bc239;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.col-mt20{
    margin-top: 85px;
}

.col-a a{
    height:20px;
    display: block;
    color:#fff;
    text-decoration: none;
    margin-top: -5px;
    width:max-content;
    margin-bottom: 40px;

}
.top-btn i{
    color:#fff;
    font-size:25px;
}
.color123{
    color: rgb(197, 243, 62)!important;
}
.top-btn{
    text-decoration: none;
    position: fixed;
    right:40px;
    bottom:280px;
    z-index: 999;
    border-radius: 50%;
    height:60px;
    width:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(196, 207, 37, 0.8);
}
.newspaper{
    text-align: justify;
    text-justify: newspaper;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    .col:nth-child(3){
        display: none;
    }
    .col-mt20{
        margin-top: 0px;
    }
}
